html{
    width: 100%;
    height: 100%;
}

body{
	background-color: #F4F7FA;  
	width: 100%; 
    max-width: 100%;
    margin: 0px; 
    padding: 0px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
}

input[type="text"]{
	height: 20px;
    border: 1px solid #d9e1e7;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    margin: -10px 5px 0px 5px;
}

b{
    color: blue;
}

.background-wr{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.43);
    z-index: 999;
}

.background-wr .notific-main-wr{
    min-width: 200px;
    width: 200px;
    min-height: 100px;
    margin: 100px auto;
    background: #ffffff;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid #949090;
    border-radius: 20px;
}

.background-wr .notific-main-wr>i{
    float: right;
    font-size: 17px;
}

.background-wr .notific-main-wr>div{
    width: 100%;
}

.hiddened{
    display: none !important;
}

.button-1{
	display: inline-block;
    padding: 4px 17px;
    border: 1px solid #6f8498;
    border-radius: 6px;
    background: #45a9c3;
    color: white;
    cursor: pointer;
    margin: 3px 5px;
}
.button-2{
	display: inline-block;
    padding: 4px 17px;
    border: 1px solid #6f8498;
    border-radius: 6px;
    background: #b32550;
    color: white;
    cursor: pointer;
    margin: 3px 5px;
}

.button-3{
	display: inline-block;
    padding: 4px 23px;
    border: 1px solid #91a7bb;
    border-radius: 6px;
    background: #293846;
    color: #91a7bb;
    cursor: pointer;
    margin: 3px 5px;
}

.button-3:hover{
    color: white;
    background: #1a2530;
}

/* ----- Nav Bar ----- */

.main-navbar{
	width: 12%;
    min-width: 120px;
    max-width: 200px;
    background-color: #293846;
    height: 100%;
    position: fixed;
    border-right: 1px solid #6f8498;
    z-index: 100;
}

.main-navbar ul.nav {
    list-style: none;
    margin: 20px 0px 0px 0px;
    padding: 0px;

}

.main-navbar ul.nav li i.fa{
	color: #6f8498;
	margin-right: 4px;
}

.main-navbar ul.nav li{
	color: #6f8498;
	height: 55px;
    padding: 5px 0px 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.main-navbar ul.nav li:hover{
	color: #FFFFFF;
    background-color: #1a2530;
}

.main-navbar ul.nav li:hover .fa{
	color: #FFFFFF;
}

.main-navbar ul.nav li.selected{
	border-left: 3px solid #41C3E5;
    color: #FFFFFF; 
    background-color: #1a2530;
}

.main-navbar ul.nav li.selected .fa{
	color: #41C3E5;
}

.main-navbar ul.nav li div{
    margin: 12px 0px;
    font-size: 17px;
}

.button-prev{
	float:left;
}

.button-next{
	float:right; 
}

/* ----- Action Area ------ */

.main-wr{
    width: 100%;
    height: 100%;
}

.main-actionarea{ 
    width: 88%;
    height: 100% !important;
    overflow: initial;
    clear: both;
    margin: 0px 0px 0px 12%;
    box-sizing: border-box;
    position: relative;

}

.block-nav-items.block-nav-item-1{
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow: hidden;
    margin: 0px;
    position: absolute; 
}

.block-nav-items.block-nav-item-1>div{
    width: 100%;
    height: 100%;
    background: url('../images/back-main.png'); 
    background-size: 100%;
    background-position: 0;
    background-repeat: no-repeat;
}

.main-button-mp{
    width: 200px;
    height: 30px;
    border: 1px solid white;
    margin: 43% calc(50% - 100px) 0px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    color: white;
    background: #293846;
    line-height: 30px;
    font-family: arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.block-nav-items:not(.selected){
	display: none;
}

.block-nav-items{
    clear: both;
    padding: 20px 25px; 
    transition: all 0.4s ease-in-out;
}

.faq-page-desc{
    border-left: 1px solid #41c3e5; 
    padding: 5px 10px 10px 20px;
    margin-left: 20px;
    overflow: hidden;
    clear: both;
}

/* --- GOAL --- */

.add-goal-wr{
    margin: 10px 0px;
    line-height: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0px 10px 15px;
}

.add-goal-wr .goal-title{
	text-align: left;
    width: 100px;
    margin: 0px 0px 0px 0px;
    float: left;
}

.add-goal-wr .goal-title{
	float: left;
	max-width: 50%;
	float: left;
}

.add-goal-wr .the-goal{
	float:left;
	font-size: 18px;
}

.add-goal-wr .change-goal{
	margin: 0px 10px;
	cursor: pointer;
}
.add-goal-wr .goal-ok{
	margin: 0px 4px;
	cursor: pointer;
	font-size: 18px;
}
.add-goal-wr .goal-cancel{
	margin: 0px 4px;
	cursor: pointer;
	font-size: 18px;
}


/* ---- CRITERIA ---- */

.exist-items-wr{
	min-height: 20px;
	margin: 5px 15px; 
}

.item-class{
    line-height: 20px;
    margin: 10px 0px;
}

.item-class .item-change{
	margin-left: 8px;
	cursor: pointer;
}

.item-class .hiddened  {
	display: none;
}

.item-class .item-remove, .item-class .item-ok, .item-class .item-close{
	margin: 0px 4px;
	cursor: pointer;
	font-size: 18px;
}

.cri-alt-wr{
	width: 100%;
	overflow: hidden;
}

.cri-alt-wr .items-wrapper{
	width: 49%;
	box-sizing: border-box;
	float: left;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0px 10px 15px;
    margin: 0px 0.5%;
}


.compares-wr .compare-item{
	float: left;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    width: 48%;
    padding: 0px 10px 30px;
    margin: 10px 1%;
}

.compares-wr{
	overflow: hidden;
	clear: both;
}

.compare-item>p{
	text-align: center;
    margin-bottom: 30px;
}

.compare-item>div{
	text-align: center;
}

.comp-pair-crit{
	margin: 0px 0px 20px;
}

/* ---- alter ---- */

.comp-pair-alter-wr{
	margin: 0px 0px 20px;
}

.comp-pair-alter-wr .comp-pair-alter-item{
	margin: 10px 0px 15px;
}

.comp-pair-alter-item .comp-alter-it-title{
	margin: 10px 0px;
	text-align: center;
	font-size: 17px;
}

.comp-pair-alter-item .comp-alter-it-title>p {
    font-size: 13px;
    margin-top: 0px;
}

.itog_text_wr>div {
    margin: 8px 0px;
}

.buttons-alter-itog{
	margin-bottom: 50px;
}

.itog-fixed-window{
	position: fixed;
    bottom: 0px;
    width: 88%;
    margin: 0px 0px 0px -25px;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #293846;
    background: #f4f7fa;
}

.mnav-items-no.mnav-item-6{

}
.mnav-items-no.mnav-item-6 .onoffswitch{
    margin: -2px 5px 5px 0px;
    float: right;
}

/* ------ */


.compare-item{
    position: relative;
}

.compare-item>div span:nth-child(1){
    position: absolute;
    margin: -10px 0px 0px -62px;
    width: 65px;
}

.compare-item>div span:nth-child(2){
    position: absolute; 
    margin: 17px 0px 0px 40px;
}

.compare-item>div span:nth-child(3){ 
    position: absolute;
    margin: -19px 0px 0px 60px;
}

.compare-item>div span:nth-child(5){
    position: absolute;
    margin: 17px 0px 0px -77px;
}

.compare-item>div span:nth-child(6){
    position: absolute;
    margin: -10px 0px 0px -3px;
    width: 65px;
}


/* -- switch -- */

.onoffswitch {
    position: relative; width: 63px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #6f8498; border-radius: 19px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 8px;
    background-color: #293846; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 8px;
    background-color: #293846; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 11px; margin: 5.5px;
    background: #293846;
    position: absolute; top: 0; bottom: 0;
    right: 37px;
    border: 2px solid #6f8498; border-radius: 19px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #41C3E5; 
}








